:root{
    --red: #ff6f69;
    --beige: #ffeead;
    --yellow: #ffcc5c;
}

body {
   /* background-color: #e5e5f7;
    background-opacity: 1;
    background-image:  linear-gradient(30deg, #56c8c9 12%, transparent 12.5%, transparent 87%, #56c8c9 87.5%, #56c8c9), linear-gradient(150deg, #56c8c9 12%, transparent 12.5%, transparent 87%, #56c8c9 87.5%, #56c8c9), linear-gradient(30deg, #56c8c9 12%, transparent 12.5%, transparent 87%, #56c8c9 87.5%, #56c8c9), linear-gradient(150deg, #56c8c9 12%, transparent 12.5%, transparent 87%, #56c8c9 87.5%, #56c8c9), linear-gradient(60deg, #56c8c977 25%, transparent 25.5%, transparent 75%, #56c8c977 75%, #56c8c977), linear-gradient(60deg, #56c8c977 25%, transparent 25.5%, transparent 75%, #56c8c977 75%, #56c8c977);
    background-size: 30px 53px;
    background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px;
/*     color: var(--red); */ 
    
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #78c1ff, #78c1ff 1px, #e5e5f7 1px, #e5e5f7);
}

